node_modules/
.expo/
dist/
web-build/

# Native build
android/
ios/

# Env files (keep .env.example tracked)
.env
.env.local
.env.production

# Keys & certificates
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Debug logs
npm-debug.*
*.hprof

# macOS
.DS_Store
*.pem

# IDE
.vscode/
.idea/

# Testing
coverage/

# Metro
.metro-health-check*
